# Ignorar archivos generados de Android Studio dentro de /Android/
Android/.idea/
Android/.gradle/
Android/local.properties
Android/*.iml
Android/build/
Android/app/build/
Android/.DS_Store
Android/.externalNativeBuild/
Android/.cxx/
Android/captures/

# Archivos temporales o de sistema
*.log
*.swp
*~
.DS_Store
Thumbs.db
